<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/signUp">
  <div class="container">
    <h1>회원가입</h1>
    <div class="form-group">
      <label for="member_nickname">Nickname</label>
      <input type="text" class="form-control" id="member_nickname" name="member_nickname" placeholder="닉네임">
      <button type="button" class="btn btn-primary">중복 확인</button>
    </div>
    <div class="form-group">
      <label for="member_mail">E-mail</label>
      <input type="text" class="form-control" id="member_mail" name="member_mail" placeholder="이메일 주소">
    </div>
    <div class="form-group">
      <label for="member_password">Password</label>
      <input type="password" class="form-control" id="member_password" name="member_password" placeholder="비밀번호">
    </div>
    <button type="submit" class="btn btn-primary">회원 가입</button>
  </div>
</form>
</body>
</html>